[2014-03-19 23:14] pdehaan opened #6 "Add link to Verbatim site in README.md?"
I've had a few people ask me for the link before, but not sure if it is worth adding the https://localize.mozilla.org/projects/accounts link to [README.md](https://github.com/mozilla/fxa-content-server-l10n/blob/master/README.md).

[2014-04-16 18:26] ckarlof opened #11 "More documentation on the process of adding new strings"
We had a little snafu in #9, corrected in #10.

[2014-05-28 20:30] pdehaan opened #16 "A few languages are showing duplicated email addresses on the /settings page"
Per https://github.com/mozilla/fxa-content-server/issues/1067#issuecomment-44459858

---

Found in 647310d16b700efacd8ba0adce7c5f475db8e194 on https://latest.dev.lcip.org/ver.json.

[code]

Looks like the following locales are still showing duplicated email addresses:

[code]

1. locale/ca/LC_MESSAGES/client.po-msgstr "Heu iniciat la sessió com: %(email)s"
    ![gestiona_el_compte](https://cloud.g

[2015-01-27 02:00] #16 closed

[2015-01-27 02:17] zaach opened #32 "English translation appears in Verbatim but not in the repo"
This string should have a translation of "to continue to %(serviceName)s", made specefically for `en_US` in Verbatim, but it shows up empty in the po file: https://github.com/mozilla/fxa-content-server-l10n/blob/master/locale/en_US/LC_MESSAGES/client.po#L619

[2015-01-27 02:18] zaach commented on #32
@mathjazz Any idea why the translation is not being carried over to github?

[2015-01-30 14:06] mathjazz commented on #32
@zaach The translation in Verbatim is submitted for en (not en-US):
https://localize.mozilla.org/en/accounts/translate.html#filter=translated

And it's also available in the en repository:
https://github.com/mozilla/fxa-content-server-l10n/blob/master/locale/en/LC_MESSAGES/client.po#L619

[2015-01-30 20:03] zaach commented on #32
Doh, I could've sworn it was `en-US` in verbatim. Thanks!

[2015-01-30 20:03] #32 closed

[2015-02-18 22:10] johngruen opened #33 "Arabic String need translation for FFOS 2.2"
Firefox OS 2.2 will be supporting Arabic strings. In conjunction with this push, FxA needs to localize into Arabic. If at all possible, we'd love to do this by the end of March so we can test UI layout in Arabic.

@mathjazz, is Arabic localization reasonable in this time frame? Thanks!

[2015-02-18 22:13] shane-tomlinson commented on #33
@johngruen - Is FxA on FxOS being translated simultaneously?

[2015-02-18 22:15] johngruen commented on #33
@shane-tomlinson: Yes, they have their own translation process in place.

[2015-02-18 22:15] johngruen commented on #33
@shane-tomlinson: additionally they're doing internal UI reviews etc.

[2015-02-18 22:24] mathjazz commented on #33
Hi John, I'm pinging the Arabic community... Will report back as soon as I hear from them.

[2015-02-18 22:46] johngruen commented on #33
Awesome, thanks!

On Wednesday, February 18, 2015, Matjaž Horvat <notifications@github.com>
wrote:

--
John Gruen
web: johngruenprojects.com
general: john.gruen@gmail.com
work: jgruen@mozilla.com
phone: 401.743.8544

[2015-02-20 19:31] zaach opened #35 "Extraction tutorial"
@shane-tomlinson Here's a GIF of me extracting strings from `fxa-content-server` and merging the new templates in this repo.

![l10n](https://cloud.githubusercontent.com/assets/3903/6307758/6c6a5b36-b8f3-11e4-825b-baaf9526275f.gif)

The last step (not recorded) is opening a PR here and waiting for mathjazz's okay to merge.

[2015-02-20 19:31] #35 closed

[2015-03-11 11:53] shane-tomlinson opened #39 "automate string extraction"
Currently, string extraction is a manual process as outlines in #35. This is prone to user error and could be scripted to a large extent. A simple grunt or bash script to extract the strings from both the content server and auth mailer would be useful.

Ref #35

[2015-03-11 15:40] pdehaan commented on #39
I think it should be pretty easy to automate the extraction script w/ Grunt+bash (I'm a fan of [**grunt-shell**](https://github.com/sindresorhus/grunt-shell), fwiw). Not sure what repo it should live in (I assume fxa-content-server-l10n, if that's where we'd be doing the `git { add | commit | push }` from.
The one tricky gotcha would be that it actually bridges 3ish repos, so ~~anybody~~ everybody

[2015-03-25 03:16] jrgm opened #44 "Set Language: to sr_Latn for locale sr_Latn"
https://github.com/mozilla/fxa-content-server-l10n/blob/master/locale/sr_Latn/LC_MESSAGES/server.po#L9 is anomalous in that the local is `sr_Latn`, but the `Language:` is `sr`. That is not consistent with other locales like `zh_CN`, `zh_TW`, `pt_BR`, `nb_NO`.

[2015-04-02 23:30] pdehaan opened #45 "Ligatures in client.po files"
Per https://github.com/mozilla/fxa-content-server/pull/2244

We removed a weird ligature in [mozilla/**fxa-content-server**](https://github.com/mozilla/fxa-content-server/)'s [app/scripts/templates/change_password.mustache](https://github.com/mozilla/fxa-content-server/blob/8cf5c9356bc7d8735bed5c1dd851e3b5d6b65fe0/app/scripts/templates/change_password.mustache#L12) template (from `ﬁnished` to `fin

[2015-04-02 23:32] pdehaan commented on #45
/cc @zaach @mathjazz

[2015-04-03 14:43] mathjazz commented on #45
Interesting. Yeah, we should change the keys for all locales with a script and then merge and update Verbatim.

[2015-06-13 02:32] jrgm opened #52 "Was change from 'Language: pt_BR' to 'Language: pt-BR' correct?"
See this comment in https://github.com/mozilla/fxa-auth-mailer/pull/46#issuecomment-111657709

In https://github.com/mozilla/fxa-content-server-l10n/commit/c26368b674cd1335a73b53c33b6da4bae78de68f, the `Language:` header was changed from `pt_BR` to `pt-BR`, which is unlike all the other country-specific locales in this repository. Was that a correct change? Can they be used interchangeably?

(Of c

[2015-06-13 02:37] vladikoff commented on #52
cc @mathjazz

[2015-06-13 04:54] jrgm commented on #52
So I fixed the code in mozilla/fxa-auth-mailer so it handles either form. And perhaps the answer on this issue is that either form is valid (but it does feel random).

[2015-06-13 06:16] mathjazz commented on #52
This is another locale switching to Pontoon.

[2015-06-13 06:25] mathjazz commented on #52
Hotfix landed in Pontoon:
https://github.com/mozilla/fxa-content-server-l10n/commit/ee79552c1139d1b10b86a4e407bccc520cf90279

[2015-06-15 16:10] vladikoff commented on #52
Should be fixed when this is getting deployed.

[2015-06-15 16:10] #52 closed

[2015-07-08 00:26] pdehaan opened #55 "Link id and href changed in zh_CN translation"
In [./locale/zh_CN/LC_MESSAGES/client.po:661-671](https://github.com/mozilla/fxa-content-server-l10n/blob/2bd08a598947d8c4ac2da20f2a86bede3e02f878/locale/zh_CN/LC_MESSAGES/client.po#L661-L671) there may be some invalid translations:

[code]

It looks like the `id` attributes got switched from `fxa-tos` to `service-tos` and `fxa-pp` to `service-pp`.
Similarly, it looks like the URLs may have been c

[2015-07-08 00:40] yfdyh000 commented on #55
https://github.com/mozilla/fxa-content-server-l10n/commit/fceb086f0b5369b754cfb540e7f1816a8d4db2c7 fixed?

p.s. https://bugzilla.mozilla.org/show_bug.cgi?id=1179883 need for attention.

[2015-07-15 10:27] rfk commented on #39
I'm pretty sure we can close this out thanks to @eoger's recent automation; can you please confirm and close this out if everything noted here is now covered?

[2015-07-15 10:27] rfk commented on #11
@zaach looks like you've been assigned to this one for over a year, maybe we need to get issues-bouncer in here ;-)

Anyways, I think this can safely be closed now?

[2015-07-15 10:28] rfk opened #56 "Automatically draft new-strings announcement emails for dev-l10n"
As noted in https://github.com/mozilla/fxa-auth-mailer/issues/54#issuecomment-117355682, we should send notices to dev-l10n and dev-l10n-web whenever we add news strings to be translated.  I don't think we should *entirely* automate this, but it'd be nice if the extract_strings.sh script could spit out a draft email highlighting the changes and remdind the runner of where to send it.

[2015-07-15 10:29] rfk commented on #56
/cc @zaach and @eoger, if this is straightforward it's be great to knock it off before the next round of string extraction.

[2015-07-15 15:40] vladikoff commented on #39
Yeap!

[2015-07-15 15:40] #39 closed

[2015-07-17 18:40] vladikoff opened #58 "Unexpected link in the content server"
This link should not be in the po file:
https://github.com/mozilla/fxa-content-server-l10n/blob/master/locale/zh_CN/LC_MESSAGES/client.po#L116

@mathjazz We are going to be removing the link from this repo, do we also need to update this somewhere else?

[2015-07-17 18:46] mathjazz commented on #58
It has to be fixed in Verbatim, too. I can fix it and commit to repository. What should the new translation be?

[2015-07-17 20:00] vladikoff commented on #58
@mathjazz You can fix it if you want / have time. Currently it is:

[code]

change it to

[code]

cc @jrgm

There is that bug comment but we cannot allow this link for security reasons.

[2015-07-17 20:25] mathjazz commented on #58
Fixed:
https://github.com/mozilla/fxa-content-server-l10n/commit/03ca1b08da66ec57824c8a6c677b2f984c6a8925

[2015-07-17 20:30] vladikoff commented on #58
Thanks so much @mathjazz !

[2015-07-17 20:30] #58 closed

[2015-07-17 20:58] #56 closed

[2015-07-17 22:05] vladikoff commented on #55
Changing the IDs will not be allowed.

[2015-07-17 22:05] #55 closed

[2015-07-27 11:00] rfk commented on #33
According to https://localize.mozilla.org/ar/accounts/ there's not much progress on Arabic translation; @johngruen is this bug still revelant?

[2015-07-27 20:45] pdehaan commented on #45
Closing. I think this was expertly fixed months ago.

[2015-07-27 20:45] #45 closed

[2015-07-27 20:48] pdehaan opened #61 "Move Grunt XSS tasks to the l10n repo"
Per @vladikoff's https://github.com/mozilla/fxa-auth-mailer/issues/67#issuecomment-125216940

[2015-07-27 20:49] pdehaan commented on #61
It'd also be nice to add some Travis-CI magic to this repo, so the Grunt tasks get automatically run on each commit.

[2015-07-27 20:52] vladikoff commented on #61
yeaaa!

[2015-08-10 14:49] vladikoff commented on #44
@zaach ping

What should we do here?

[2015-08-11 22:27] rfk commented on #11
yep, closing this out

[2015-08-11 22:27] #11 closed

[2015-08-14 15:26] vladikoff commented on #33
@johngruen ping

[2015-08-16 06:10] jrgm opened #65 "Cannot update to 'hi'/'hi-IN' for fxa-auth-server - missing locale."
Please see https://github.com/mozilla/fxa-auth-server/pull/1019 and https://travis-ci.org/mozilla/fxa-auth-server/jobs/75789764.

I was trying to update to get `hi` translations for email messages, but it fails because `OperationalError: ENOENT, lstat '/Users/jrgm/tmp33/fxa-auth-server/node_modules/fxa-auth-mailer/node_modules/fxa-content-server-l10n/locale/hi'`

I can "fix" this by manually copyi

[2015-08-17 21:39] zaach commented on #65
Right, so we currently copy the files between locales in the content-server, but that of course doesn't help other repos relying on these locales. symlinks in the l10n repo might be a better option.

[2015-08-19 15:11] vladikoff commented on #61
We discussed this in the meeting that this is not on track for this trian, removed from "in progress"

[2015-08-19 22:14] vladikoff commented on #33
@johngruen closing unless someone needs this

[2015-08-19 22:14] #33 closed

[2015-09-08 16:39] zaach commented on #6
We should also link to https://pontoon.mozilla.org/projects/firefox-accounts/

[2015-09-22 09:35] #61 closed

[2015-09-26 12:33] piotrdrag opened #73 "Fuzzy translations on live"
Currently strings marked as "fuzzy" are used on the live web pages. In case a translation is out of date, it makes invalid translations to show up instead of English. For example, right now it says "Konto zostało zweryfikowane" ("Verified account") instead of "Account picture" on Polish pages. It's very confusing to users. "Fuzzy" strings in the PO file format are not supposed to be used: <https:/

[2015-09-28 16:36] shane-tomlinson commented on #73
Two possible solutions spoken about:

1. fuzzy strings should not be in the .po files in the first place, so perhaps our po merge script has gone bonkers.
1. fuzzy strings should be ignored by our grunt-po2json script.

[2015-09-28 16:37] shane-tomlinson commented on #73
@piotrdrag - are the fuzzy strings presented to users or just to translators?

[2015-09-28 17:01] piotrdrag commented on #73
Fuzzy strings belong to the po files, but shouldn't be used. The second option sounds like the Right Thing™.

They are presented to the end-users. :(

[2015-09-28 17:08] vladikoff commented on #73
![](http://v14d.com/i/560973fccc68d.jpg)

cc @mathjazz

[2015-09-28 17:15] mathjazz commented on #73
What @piotrdrag said. :)

[2015-09-28 17:56] vladikoff commented on #73
Fixed in https://github.com/mozilla/fxa-content-server/pull/3114

[2015-09-28 17:57] #73 closed

[2015-09-28 20:44] zaach commented on #73
Ref https://github.com/mozilla/fxa-content-server-l10n/pull/29, where we turned of fuzzy matching on msgmerge.

[2015-10-05 21:36] vladikoff commented on #44
I will talk to @zaach about this one

[2015-10-05 23:06] jrgm commented on #44
My understanding is that sr_Latn is an automatic transilteration from Cyrillic to Latin characters. So, the question is, what tool does that transliteration.

[2015-10-07 19:05] vladikoff commented on #44
Ok that makes sense, I manually fixed in commit: https://github.com/mozilla/fxa-content-server-l10n/commit/2c20cc8e9c0e682422ae669f6a58dd901584408d

@mathjazz we are not sure if this was automated or not, if it is then the tool that automates it needs a fix to set `sr` to `sr_Latn` if it is the Latin version of `sr` translations

[2015-10-07 19:05] #44 closed

[2015-10-07 21:34] mathjazz commented on #44
@Adding @flodolo to comment on how the script actually works.

[2015-10-08 05:43] flodolo commented on #44
For this project I file PRs manually but transliteration is done with a script.
Marketplace projects do that automatically. If we could have that, it would be great.

You should find all the information in
https://bugzilla.mozilla.org/show_bug.cgi?id=1168488

[2015-10-19 05:48] rfk opened #80 "Improve forward-compatibility of string extraction w.r.t previous trains"
IIUC, we're currently in a situation where we can't extract strings for the upcoming train until the previous train has shipped to production.  If we do so, there's a risk that strings required by the previous train will get removed or overwritten.

Let's change the process the ensure forward-compatibility with previous trains.  The simplest option is probably just to keep all old strings around f

[2015-10-19 05:51] rfk commented on #80
(/cc @shane-tomlinson based on discussions last week; please feel free to close this out if you've got more context captured elsewhere)

[2015-10-19 10:47] rfk commented on #65
The commit adding the copying behaviour for hi-IN => hi, for reference:

  https://github.com/mozilla/fxa-content-server/commit/c45edce

[2015-10-19 10:52] rfk commented on #65
@jrgm what do you think about me adding a build script to this repo, that would take care of these sorts of things:

* copying `hi-IN` => `hi`
* creating `sr_Latn` from `sr`
* and maybe even making train-related tags for commits that are being sent to production?

Not sure how well this would fit into your workflow, but it seems sensible to centralize those steps in this repo rather than managing

[2015-10-19 21:37] vladikoff commented on #80
@shane-tomlinson and @vladikoff, also maybe @zaach  to talk about this !

[2015-10-26 06:02] rfk opened #81 "Automatically copy/symlink "pt-PT" to "pt""
For the reasons described in https://github.com/mozilla/fxa-content-server-l10n/pull/79#issuecomment-150574399

[2015-10-26 06:03] rfk opened #82 "Automate translation of "sr" to "sr_Latn""
As described in https://github.com/mozilla/fxa-content-server-l10n/issues/44#issuecomment-146425994

[2015-10-26 16:25] vladikoff commented on #81
Need to copy it the same way as here: thhttps://github.com/mozilla/fxa-content-server/blob/master/grunttasks/copy.js#L86

[2015-10-27 09:59] rfk commented on #80
@shane-tomlinson says we may be able to use "compendium" feature from here: https://www.mankier.com/1/msgmerge#-C

[2015-10-27 21:12] vladikoff commented on #81
to clarify it is `pt_PT`, not `pt-PT` https://github.com/mozilla/fxa-content-server-l10n/tree/master/locale/pt_PT/LC_MESSAGES

[2015-10-28 08:59] shane-tomlinson opened #84 "Remove `pt` from the repo"
If we are going to copy `pt_PT` to `pt`, it does not make sense to keep `pt` in this repo and have a potential contributor start unwittingly doing the translations for it.

Ref #81, https://github.com/mozilla/fxa-content-server/pull/3224.

@mathjazz, @rfk

[2015-10-28 09:05] shane-tomlinson commented on #81
Re-opening until we have an answer to [this question in the PR](https://github.com/mozilla/fxa-content-server/pull/3224#issuecomment-151771972):

[2015-10-29 17:20] vladikoff commented on #81
After discussing in a meeting it seems @shane-tomlinson has a plan to solve this in the l10n repo. Let me know if help needed

[2015-10-30 05:07] rfk commented on #65
Assigning to @jrgm for comment on the above proposal

[2015-10-30 05:10] rfk commented on #81
There's enough open l10n quality issues that I spun up a (hopefully short-lived) milestone to collect them all together.  I'm grouping this together with the others in "now" for discussion as a whole in the upcoming cycle.

[2015-11-02 22:19] vladikoff commented on #80
@vladikoff and @shane-tomlinson will figure this out :D

[2015-11-03 08:59] mathjazz commented on #81
We need to do the same thing for Punjabi. Localizers will commit to pa_IN and pa should have the same content.

[2015-11-03 19:58] cristisilaghi opened #89 "Push all Romanian strings into production"
Hi. It seems some strings are not pushed into production, even if they were translated 15 days ago (and made few changes today on Pontoon).
Do we need a manual intervention for this or do we need to wait more for an automatic update?

[2015-11-04 00:39] jrgm commented on #89
The current git sha in production is 5d5c2e032ff364674b7a05db6125fe60f72003da, which is from Oct 25th. So, changes in locale `ro` before that should be in production. Is there an example of a string that you would expect to be visible in production that is not so I can track down? What is the Accept-Language header your browser (or other tool) is sending (just for future reference)?

[2015-11-04 04:48] rfk commented on #89
I see changes to Romanian on Nov 3rd (9fbaac82b929440c3ddf541a85a3e2d9df1ee645) and Oct 30th (34fe464ade6107201f131d3a8fa681e6592f18f0, 34c9184a0f3ea43d6bdc222dc35a2821df141c) which will go to production in the next release.  Anything earlier than those *should* be live already, but please point them out if that doesn't seem to be the case.

FYI we generally deploy FxA every two weeks, picking up

[2015-11-04 13:47] cristisilaghi commented on #89
@rfk @jrgm For example "A device began syncing with the devices connected to your Firefox Account."
Received yesterday an e-mail with mixed Romanian-English, but all the messages should be in Romanian.
That string is actually translated before Fx 42 release (commit from Octomber 20; ~16 days ago). :/ And is not the only string, I translated the rest of strings in Octomber 20. :/

[2015-11-04 13:52] cristisilaghi commented on #89
![proof1](https://cloud.githubusercontent.com/assets/2406819/10939672/f76debc0-830b-11e5-8f79-373a5d62d330.png)

[2015-11-04 16:06] vladikoff commented on #84
We cannot remove "pt", it is the default setting when you download https://www.mozilla.org/pt-PT/firefox/new/

[2015-11-04 16:16] vladikoff commented on #81
After meeting, we are gonna update out merge script to copy sv_SE to sv, hi_IN to hi, pt_PT to pt when we cut string : https://github.com/mozilla/fxa-content-server-l10n/blob/master/scripts/extract_strings.sh

We will try to use the `compendium` feature to use smart overwrite.

[2015-11-04 16:16] vladikoff commented on #84
https://github.com/mozilla/fxa-content-server-l10n/issues/81#issuecomment-153779750

[2015-11-04 16:16] #84 closed

[2015-11-04 16:22] shane-tomlinson commented on #80
@jrgm, can you refresh my memory, why do strings need to be forward compatible?

[2015-11-04 16:31] vladikoff commented on #81
And maybe also support sr to sr_latn conversion. @shane-tomlinson do you remember how to do that?

[2015-11-04 16:31] vladikoff commented on #65
We are going to try solve this with https://github.com/mozilla/fxa-content-server-l10n/issues/81#issuecomment-153783912

[2015-11-04 16:31] #65 closed

[2015-11-04 16:38] jrgm commented on #89
Ah, sorry. For unrelated technical reasons, the server that sends the email had to be rolled back to an earlier version that contains older translations. We'll be updating to a new version next week.

[2015-11-04 16:51] vladikoff commented on #80
@zaach or @rfk , Shane and I talked about this and we got confused. Could you explain this:

Is it enough to just tag the string versions (choose SHA)? Instead of using HEAD?

We are not sure what the problem is exactly.
Please help :cake:

[2015-11-04 16:52] vladikoff commented on #89
If it is just that email then it is because we had to rollback our servers. Let us know if some other translation are old.

[2015-11-04 16:52] #89 closed

[2015-11-04 19:56] rfk commented on #81
More details via link thread in https://github.com/mozilla/fxa-content-server-l10n/issues/82

[2015-11-04 21:31] rfk commented on #80
Two reasons IIRC.

First, it just makes more work for @jrgm, since he has to carefully select "the latest sha before the new strings were cut" rather than just picking up the latest sha.  The more our process depends on human beings doing the right thing, the more opportunity for things to go wrong.  (no offense @jrgm ;-)

Second, it reduces the window in which translators can have their strings p

[2015-11-05 08:48] shane-tomlinson commented on #84
For the record, the idea was, since we are already copying pt-PT to pt, remove pt from the repo so that we do not introduce discrepancies between pt and pt-PT.

[2015-11-05 09:16] shane-tomlinson commented on #80
And this is where git tags would be useful.

I think there was a more pressing reason, like emails were sent with uninterpolated variables, but I do not remember.

I'm feel crotchety w.r.t. prioritizing this work, and I'm not totally buying the arguments. I can see this turn into 3+ days of work.

Our process is such that steps 2 and 4 are should not happen in that order, train-51 strings are cut

[2015-11-06 05:39] rfk commented on #80
Fair, I don't think we realistically have three full days to spare on this work this train.

So AFAIK what you state above is true, the worst that should happen is some English strings are used, but used *properly*.  We can avoid this by ensuring that train-X uses the latest sha from before the train-X+1 strings were cut.  And this bug is about making that process less fragile, reducing the need f

[2015-11-10 23:58] vladikoff opened #91 "Add a right_before_production_deploy_script to copy locales"
This script will do all the copying and should run right before prod deploy to get the most translations.
This is a bit of opposite to the "extract_strings", that one runs right after prod is built.

- [ ] Automatically copy/symlink "pt-PT" to "pt" https://github.com/mozilla/fxa-content-server-l10n/issues/81
- [ ] We might need to copy `hi-IN` to `hi`
- [ ] `sv_SE` => `sv`
- [ ] Remove all existin

[2015-11-11 00:14] vladikoff commented on #91
@shane-tomlinson did I miss anything?

[2015-11-11 00:14] vladikoff commented on #81
Closed in favour of https://github.com/mozilla/fxa-content-server-l10n/issues/91

[2015-11-11 00:14] #81 closed

[2015-11-11 00:16] vladikoff commented on #91
@shane-tomlinson the goal of this new script is to address the concern we had in the meeting where the "copied" locales (such as `hn` will only be copied after we run `extract_strings`). that is why this script run right before prod is built.

[2015-11-11 00:18] vladikoff commented on #80
After talking to @shane-tomlinson we have a plan to move unused (commented out ) strings into some sort of an archived file. If those strings were translated in the past we should be able to restore them from that archived file.

[2015-11-11 00:31] #6 closed

[2015-11-11 14:47] shane-tomlinson commented on #80
My thoughts are still hazy, but I think this can work like so:

Keep two sets of translations:

1. "current translations"
1. "all translations that have ever happened"

This process can all happen on string extraction before sending the .po files to the l10n community.

1. Add any translations in the "current translations" that are not in "all translations" to "all translations." If there are any

[2015-11-11 15:22] shane-tomlinson commented on #91
@vladikoff - this seems like the correct approach to me. For completeness, you might want to add `sv_SE`=>`sv` too. Should `hi_IN`=>`hn` be `hi_IN`=>`hi`?

[2015-11-11 15:31] vladikoff commented on #91
Perfect, thanks.

[2015-11-12 22:28] #82 closed

[2015-11-13 15:39] shane-tomlinson commented on #80
Now that I've written my thoughts on how to make forward compatibility possible, I'm moving this back to the backlog.

[2015-11-16 19:39] #91 closed

[2015-11-20 00:18] vladikoff commented on #80
Talking to @zaach the "2 sets of translation" approach will probably not work.

We talked about few ideas, one of them is keeping the strings that we delete in "strings.js" file. That way they did not get extract.

![](https://dl2.pushbulletusercontent.com/1UznqHJsCawpZUFVAbYYLNufSCfnOx6A/IMG_20151119_161650.jpg)

[2015-12-07 14:07] shane-tomlinson commented on #80
For my own (and any other passers-by who care) edification, what problems did you identify?

[2016-02-06 11:05] piotrdrag opened #104 "Plural strings"
Some new strings ("%d days", %d minutes" etc.) need plural string handling with ngettext. Otherwise they can't be translated properly in many languages.

https://wiki.gnome.org/TranslationProject/DevGuidelines/Plurals

@splewako

[2016-02-06 14:42] splewako commented on #104
Exactly, not sure how it is exactly handled in other Mozilla projects (maybe @flodolo knows).

[2016-02-06 15:20] flodolo commented on #104
I think we need more developers like @vladikoff (he seems the one who did the last string merge). Also, probably makes more sense on the main code repository https://github.com/mozilla/fxa-content-server

If the system actually uses Gettext as source for strings, it shouldn't be a problem to add support for proper plural forms.

[2016-02-06 16:18] vladikoff commented on #104
@flodolo Please let us know what needs to be done to make these strings work. I thought we already had plural strings before but I cannot find that now.

Here's an example (not exactly the ones we are using) of the Polish translations here: https://github.com/rmm5t/jquery-timeago/blob/master/locales/jquery.timeago.pl.js

[2016-02-06 16:37] vladikoff commented on #104
@shane-tomlinson I see some notes about plural forms here: https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/lib/translator.js#L52 do you remember how do use those?

[2016-02-06 17:29] flodolo commented on #104
I don't know enough of the FxA codebase to give suggestions on how to technically implement this. I also haven't heard complaints before, so I assume most of the problematic strings landed in the last merge.

The last strings introduced are really bad in terms of localizability, not just because of the lack of plural forms.
[code]

I assume you're putting these together somehow (e.g. '2 hours' + '

[2016-02-08 17:33] shane-tomlinson commented on #104
@ryanfeeley - What do you think about @flodolo's suggestion?

[2016-02-17 20:42] rfk commented on #104
Thanks for flagging this with us @flodolo @splewako @piotrdrag - we're working on better strings over in https://github.com/mozilla/fxa-content-server/pull/3511, any feedback on the new forms appreciated.

[2016-02-18 17:31] #104 closed

[2016-04-14 19:47] TheoChevalier opened #118 "Potential error in a string from train 60"
I’m almost positive a ’s’ is missing here https://github.com/mozilla/fxa-content-server-l10n/blob/master/locale/en_US/LC_MESSAGES/client.po#L448
@shane-tomlinson , do you confirm?

[2016-04-14 19:50] shane-tomlinson commented on #118
@TheoChevalier - Oh no, thank you so much for noticing!

[2016-04-14 19:51] vladikoff commented on #118
Fixed in https://github.com/mozilla/fxa-content-server/commit/c4a85c80290a96b559e7e04d62077efd6097cd21 update to `.po` coming up

[2016-04-14 19:51] #118 closed

[2016-04-14 20:45] TheoChevalier commented on #118
Thanks guys!

[2016-05-11 17:52] mohamed7afezz opened #123 "Missing number of times in string"
All this stings in this [link](https://github.com/mozilla/fxa-content-server-l10n/blob/master/locale/ar/LC_MESSAGES/client.po#L115-L143) need to update with some Details because We in Arabic language we need to know number of times of thing like:
- "days ago" string should be "%S days ago"
- "hours ago" string should be "%S hours ago"

so we can translate it by adding number of days in middle "منذ

[2016-05-11 17:58] vladikoff commented on #123
We are not adding numbers at this time. The translation should not specify %s.

Are you able to just translate `days ago`?

For example can you translate: `I had to buy a new cake days ago` or `The train to the city left hours ago"?

[2016-05-11 17:58] #123 closed

[2016-05-11 18:02] mohamed7afezz commented on #123
Yup, thanks.

[2016-07-13 21:17] ryanfeeley commented on #104
@rfk I wonder how Fennec does this. Built in to Android? They do the "X minutes/hours/days/etc ago".

[2016-07-13 21:40] splewako commented on #104
Fennec doesn't support correct localization of plural forms?
https://bugzilla.mozilla.org/show_bug.cgi?id=1274238

[2016-07-14 05:10] flodolo commented on #104
Fennec doesn't support plural forms in .properties (which is a Mozilla hack).

There is work to integrate ICU in Android builds as we speak, and that should solve the problem with those kind of strings in the long term (relative dates/times, date formatting, etc.).
https://bugzilla.mozilla.org/show_bug.cgi?id=1262102

[2016-11-03 12:23] shane-tomlinson opened #158 "grunt l10n-lint fails"
....

This occurs using node 4. Also fails on travis: https://travis-ci.org/mozilla/fxa-content-server-l10n/jobs/172871222

[2016-11-04 13:30] vladikoff commented on #158
hm works for me with node 4.6.1

[2016-11-05 06:33] TDA commented on #158
Master seems to work on:
[code]

Not sure if required but seems to work fine on:
[code]
Tried to run it with node v6, but it said `grunt: command not found` and I have no idea how to get that to work. 🐑

[2016-11-06 17:27] shane-tomlinson commented on #158
Fails for me locally using node 0.10 and node 4, also failing on travis with node 4 - https://travis-ci.org/mozilla/fxa-content-server-l10n/jobs/173683178

[2016-11-06 17:43] shane-tomlinson commented on #158
Huh, I had an empty generated file, `messages.pot` that was [ignored via .gitignore](https://github.com/mozilla/fxa-content-server-l10n/blob/f282928cc03930ff7f5cc252c4c5160bbc252738/locale/templates/LC_MESSAGES/.gitignore#L3) which was causing the blowup.

Maybe we should only ignore client.pot and server.pot, that way we easily see if extra files are lying around.

[2016-11-06 18:39] shane-tomlinson opened #160 "Travis failing with node 4, "SyntaxError: missing ) after argument list""
See https://travis-ci.org/mozilla/fxa-content-server-l10n/jobs/173707141

[2016-11-07 06:01] TDA commented on #158
@shane-tomlinson Not sure IIRC, but did we not have something to convert empty spaces into `''` or something similar?
Sorry if this is unrelated 🐒

[2016-11-07 17:02] #158 closed

[2016-11-08 11:37] shane-tomlinson opened #161 "Node 0.10x no longer supported, testing should be removed from .travis.yml"
Check out https://travis-ci.org/mozilla/fxa-content-server-l10n/builds/173707139, we are still testing against node 0.10.x

[2016-11-08 18:09] vladikoff commented on #160
This was fixed 👍

[2016-11-08 18:09] #160 closed

[2016-11-08 18:10] vladikoff commented on #80
Closing this for now

We are on a good schedule for extraction now and not that many strings get removed...

[2016-11-08 18:10] #80 closed

[2016-11-08 18:18] #161 closed

[2017-04-12 14:32] vladikoff opened #186 "Automate string extraction procedure"

[2017-04-17 21:03] vladikoff commented on #186
Done!

[2017-04-17 21:03] #186 closed

[2018-06-30 15:42] moz-hwine opened #272 "Set protected status on production branch"
The production branch on this repository is not protected against force pushes. This setting is recommended as part of [Mozilla's Guidelines][guidelines_url] for a Sensitive Repository.

**Anyone with admin permissions for this repository can correct the setting using [this URL][protect_url].**

If you have any questions, or believe this issue was opened in error, please contact [us][email] and me

[2018-07-02 10:04] shane-tomlinson commented on #272
This is going to take a bit of process change because pontoon commits directly to master. Each merge then kicks off a travis test, which notifies us via email whenever there is a failure.

[2018-07-02 19:17] shane-tomlinson commented on #272
@mathjazz - can Pontoon commit to a branch other than master? I'm trying to think of what options we have here are.

[2018-07-02 19:23] mathjazz commented on #272
Yes, it can. We just need to set the Branch in the Project Admin:
https://mozilla-l10n.github.io/documentation/tools/pontoon/adding_new_project.html

[2018-07-03 00:17] hwine commented on #272
@shane-tomlinson flipping this bit does not prevent you from committing to master -- it just keeps you from doing force pushes.

If you're doing force pushes to master, you can instead merge to master using the merge strategy "ours". (Which also preserves history.)

[2018-07-03 02:22] vladikoff commented on #272
Exactly, we just disable force pushes, no need to change anything in the process

[2018-07-03 08:53] shane-tomlinson commented on #272
'Aight, branch protection enabled without requiring pull-requests. Closing as fixed.

[2018-07-03 08:53] #272 closed

[2018-07-09 13:05] shane-tomlinson opened #273 "string extraction failing"
10 |  */
  11 | class PasswordStrengthExperiment extends BaseExperiment {

     |                 ^
  13 |     'account.created': 'onAccountCreated',
  14 |     'password.error': 'onPasswordError',
  15 |   };
Warning: Command failed: node_modules/.bin/babel --plugins=babel-plugin-syntax-dynamic-import,dynamic-import-webpack --presets es2015 app/scripts --out-dir .es5
SyntaxError: app/scripts/lib/

[2018-12-10 16:57] vladikoff opened #311 "Decrypt fail on Circle"
Ref: https://circleci.com/gh/mozilla/fxa-content-server-l10n/3668

[2019-01-21 18:57] peiying2 opened #320 "Firefox Accounts l10n content on staging not up to date"
@rfk Our localizer @jordis reported that the dev site has not been up to date to reflect what's translated in Pontoon. https://pontoon.mozilla.org/ca/firefox-accounts/.  This is what we have on Pontoon for the FxA project: https://pontoon.mozilla.org/projects/firefox-accounts/info/. Has the info changed or do we have a sync issue?

[2019-01-21 22:12] rfk commented on #320
Thanks @peiying2, I'm going to defer to @shane-tomlinson here who is the lead engineer on FxA these days.

[2019-01-22 14:26] shane-tomlinson commented on #320
@peiying2, @jordis - which dev site? I can have a look, but want to look at the same thing as you.

[2019-01-22 14:26] shane-tomlinson commented on #320
Doh, staging.

[2019-01-22 14:35] shane-tomlinson commented on #320
https://accounts.stage.mozaws.net/ver.json

[code]

That l10n commit is from 12 days ago:

https://github.com/mozilla/fxa-content-server-l10n/commit/fd2e4d67f7ef582f1154d73e2342c6caa22bda18

This makes sense. The git SHA for the strings is chosen a few days before the deployment so that a full prod-like stack can be tested end to end. The train-128 deployment was scheduled for Jan 14th, Jan 10th w

[2019-01-22 17:21] shane-tomlinson commented on #320
@jrgm to investigate why stable didn't pull in the new strings on Thursday.

[2019-01-28 17:04] shane-tomlinson commented on #320
It *did*. On Thursday @ 4pm Pacific. Closing.

[2019-01-28 17:04] #320 closed

[2019-01-30 13:36] jordis commented on #320
This issue is closed but I cannot see the localized strings in the staging server https://latest.dev.lcip.org/
All strings are in English. Is this working as designed?

[2019-02-01 03:59] peiying2 opened #322 "Localized content not seen on staging"
@shane-tomlinson The issue was brought up in issue https://github.com/mozilla/fxa-content-server-l10n/issues/320. Though the issue resolved some problems, however, it is not the issue that localizer @jordis brought up.

[2019-02-01 11:21] shane-tomlinson commented on #322
Can you help me understand the problem better? I'm still confused, I think expectations might not match the reality of how the l10n import process works.

When you say "staging" what server does that correspond to? Staging might mean something very different to us.

The translations on https://stage.dev.lcip.org are updated once every 2 weeks. The translations on https://stable.dev.lcip.org are up

[2019-02-01 12:06] peiying2 commented on #322
@jordis is the locale manager for Catalan or ca.

[2019-02-01 13:30] shane-tomlinson commented on #322
I should have known this from the link to the translations in the original bug, https://pontoon.mozilla.org/ca/firefox-accounts/. I am sorry I did not catch this earlier.

[2019-02-01 14:54] #322 closed

[2019-02-02 01:14] peiying2 commented on #322
Thank you so much @shane-tomlinson. Looks like a simple fix from l10n perspective.

[2019-03-28 04:24] Mozilla-GitHub-Standards opened #331 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-12 22:21] #331 closed

[2019-07-11 15:45] peiying2 opened #358 "Merging locales bn-BD and bn-IN to single locale bn"
We are going to merge the two locales into one to fully utilize the community resources.  The plan is:

Dev:
* FxA creates an bn folder at repo
* Move bn-BD repo content to bn repo and confirm it's all there (bn-BD has more content in comparison)
* Remove bn-BD, bn-IN repos

Pontoon (l10n);
* Pontoon dev migrates the data to bn (this includes contributors histories)
* L10n PM confirms the update a

[2019-07-17 13:48] shane-tomlinson commented on #358
Hi @peiying2, sorry for the delay responding here. I am the person to speak to. This all seems fine to me. I just opened #359 with the `bn` directory with both files as blank templates.

[2019-07-17 22:21] peiying2 commented on #358
@shane-tomlinson I updated the issue summary after speaking to my colleague on the best way to do this.

Could you **move** `bn-BD` to `bn` repo? After confirming it is done correctly, you can remove the bn-BD and bn-IN repos. Then Pontoon dev will migrate the data to bn. After that is done, I will close the issue.

[2019-07-18 15:45] shane-tomlinson commented on #358
@peiying2 I have updated the `bn` directory to have the same contents as `bn-BD`. I can remove the `bn-BD` and `bn-IN` directories once you confirm the time is right.

[2019-07-18 15:54] peiying2 commented on #358
@shane-tomlinson you can remove both locales now. Right now is a good time. Thx

[2019-07-18 16:33] peiying2 commented on #358
@shane-tomlinson, make sure to correct the charset at the beginning of the file to `bn`. I got an error message from your copy.

[2019-07-19 16:49] peiying2 commented on #358
@shane-tomlinson we have completed the tasks on Pontoon side. Please make sure the bn-* repos are removed. I still see them in the locale folder. Please confirm that this is done, so we can close the issue. Thanks!

[2019-07-22 09:04] shane-tomlinson commented on #358
Once the FxA config changes are complete, I will remove the extra repos.

[2019-07-22 11:33] shane-tomlinson commented on #358
Ref https://github.com/mozilla/fxa/pull/1870

[2019-07-22 14:48] #358 closed

[2019-07-30 19:10] peiying2 opened #364 "[be]: Localized content not shown on production"
@shane-tomlinson Our Belarusian localizer reported that his work has not shown up on production despite completing it more than a month ago: https://accounts.firefox.com/. When he switches to `uk` (Ukrainian) as the preferred language, it works. However when he switches to `be` as the preferred language, the localized content doesn't show up.

[2019-08-01 06:44] shane-tomlinson commented on #364
We only enable locales when we are told they are ready, there is nothing automatic about the process. `be` is not on the [list of supported locales](https://github.com/mozilla/fxa/blob/24bd5c48e364452f346ff9dace9815390536611c/packages/fxa-shared/l10n/supportedLanguages.json#L5), I'm not sure if it was never enabled, or if it was once enabled and we later disabled it. Can you let us know when new l

[2019-08-01 15:12] peiying2 commented on #364
Didn't know it was not supported. It is 100% complete: https://pontoon.mozilla.org/be/firefox-accounts/. Thanks so much!!

[2019-08-02 17:52] #364 closed

[2019-10-02 01:14] sn0ooow opened #376 ""Last sync over" strings"
Regarding these strings: https://pontoon.mozilla.org/ro/firefox-accounts/LC_MESSAGES/client.po/?search=Last+sync+over

**"Last sync over bla-bla"**

Is it possible to add a replace function + regex rule for the placeholder %(translatedTimeAgo)s?

Something like the following, perhaps?
**`Ultima sincronizare acum peste %(translatedTimeAgo)s.replace(/^acum /g, '')`**

We have to add "**peste**" afte

[2020-06-04 17:52] peiying2 opened #423 "Same string reused in different (cap or lower) case may break code"
I might be wrong, but you're taking original translations starting with  uppercase, and reusing them after making them lowercase via JS.
https://github.com/mozilla/fxa/blob/07cefc18148d0b17f5240120a84fe151a5032088/packages/fxa-content-server/app/scripts/models/support-form.js#L15

That is incredibly fragile (I'd go as far as to say it's broken):
- JS might not be able to manage the correct transfo

[2020-06-30 22:45] chenba opened #428 "German subscription cancellation email translation contains extra '$' (USD currency symbol)"
(Sorry, I'm not sure if this is the correct way of reporting this.  Let me know if not, and I'll file elsewhere.)

https://github.com/mozilla/fxa-content-server-l10n/blob/master/locale/de/LC_MESSAGES/server.po#L355

The '$' in `... %(invoiceTotal)s $ ...` is not necessary since `invoiceTotal` itself is localized with a currency symbol.

(I'm aware of comments for .pot files.  Unfortunately, at the

[2020-06-30 22:52] peiying2 commented on #428
@clouserw

[2020-06-30 22:55] peiying2 commented on #428
Here is the source string: `Your final payment of %(invoiceTotal)s was paid on %(invoiceDateOnly)s. `

There is no $ sign in the English source. Should I remove $ in German and that would fix it?

[2020-07-01 00:00] clouserw commented on #428
Thanks @peiying2 .  Yes, that should fix it.  I'll leave for @chenba to close this out.

[2020-07-01 13:52] chenba commented on #428
Looks good.  Thanks!

[2020-07-01 13:52] #428 closed

[2020-07-05 12:11] petercpg opened #430 "Partial translation not displayed in Support page"
URL: https://accounts.stage.mozaws.net/support
Locale: zh-TW
Screenshot: ![圖片](https://user-images.githubusercontent.com/205738/86532258-2250a280-befb-11ea-9179-add672eb6741.png)

The strings missed for translation already exists in https://github.com/mozilla/fxa-content-server-l10n/blob/master/locale/zh_TW/LC_MESSAGES/client.po#L418 . Maybe need an update for string id reference?

[2020-07-06 15:34] peiying2 commented on #430
Thank you for reporting this issue. The Contact Us or the support feature will not be ready until billing and subscription management features are complete. Contact Us feature involves staffing people who can answer questions in languages in the supported markets.  This is why the test step instruction for the first feature ends when you get a subscription confirmation. Anything beyond is not set

[2020-12-17 01:37] hwine opened #456 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2021-01-28 18:12] clouserw commented on #456
Thanks for filing.  We're tracking/fixing this at https://github.com/mozilla/fxa/issues/7354

[2021-01-28 18:12] #456 closed

[2021-02-19 17:01] peiying2 opened #470 "Firefox Accounts incorrectly used for Firefox Account in context"
File: firefox-accounts/settings.ftl

Problem:
- cs-disconnect-lost-advice-content = Since your device was lost or stolen, to keep your information safe, you should change your { -product-firefox-accounts } password in your account settings. You should also look for information from your device manufacturer about erasing your data remotely.

- delete-account-confirm-title = You’ve connected your {

[2021-02-19 17:11] peiying2 commented on #470
@6a68 or @chenba

[2021-02-19 19:16] peiying2 opened #471 "Paypal should be PayPal; a brand name should be a placeable"
File: main.ftl
Problem: Paypal should be treated like a brand name, a placeable, and should be spelled correctly - capital Ps.

[## payment legal blurb](https://github.com/mozilla/fxa-content-server-l10n/blob/e63e272543278913fbb134dc47be7660446dd222/locale/templates/main.ftl#L78-L80)
payment-legal-copy-stripe-paypal = { -brand-name-mozilla } uses Stripe and Paypal for secure payment processing.
pa

[2021-02-19 19:56] peiying2 opened #472 "The string for *None* needs to be duplicated for different setting scenarios"
File: settings.ftl
Problem: The string `None` is used in settings for both *Primary email* and *Secondary email*. In some languages, these two have two separate genders associated with them, thus `None` will be translated differently.

[row-defaults-status = None](https://github.com/mozilla/fxa-content-server-l10n/blob/f9fd8c07866f9df13f67b431978241de8b1f3e51/locale/templates/settings.ftl#L379)

S

[2021-02-19 20:29] chenba commented on #472
@6a68 can you take a look?  Thanks!

[2021-02-19 23:51] #471 closed

[2021-02-20 00:15] clouserw commented on #471
This will appear in this repository next Friday.  Thanks

[2021-02-22 20:19] ItielMaN opened #473 "Inconsistent ending periods for the "There was a problem" strings"
[code]

Some of these have ending periods, some don't.

[2021-02-22 21:33] peiying2 commented on #473
@6a68

[2021-02-23 17:31] chenba commented on #430
Fixed in https://github.com/mozilla/fxa/pull/7602.

[2021-02-23 17:31] #430 closed

[2021-02-23 17:31] chenba commented on #423
Fixed in https://github.com/mozilla/fxa/pull/7602.

[2021-02-23 17:31] #423 closed

[2021-02-23 21:01] 6a68 commented on #472
This one might take a little longer to get to, because it involves some deeper changes to how the code is structured.

[2021-02-23 21:11] 6a68 commented on #472
I've copied this over to the FxA repo for better visibility

[2021-02-23 21:20] #470 closed

[2021-02-23 21:20] #473 closed

[2021-03-15 16:35] peiying2 opened #480 "Spelling error, brand tagging, ellipsis"
A few errors have been identified from PR https://github.com/mozilla/fxa-content-server-l10n/pull/479:
1).  [main.ftl](https://pontoon.mozilla.org/en-CA/firefox-accounts/main.ftl/?string=220953): Should be  **occurred** in`An unexpected error has *occured* while processing your payment, please try again`

2). [main.ftl]: add **Stripe** as a brand name on the top of the file so these strings can be

[2021-03-17 15:42] peiying2 commented on #480
@6a68 please help triage. Thank you.

[2021-03-17 23:41] 6a68 commented on #480
Sure, I can fix these, thanks for the ping

[2021-03-18 17:07] #480 closed

[2021-03-18 22:28] 6a68 commented on #480
@peiying2 The fixes for this issue should arrive in today's export. Let me know if any other changes are needed. Thanks!

[2021-03-18 22:30] peiying2 commented on #480
Thank you. I have approved and merged the weekly PR. Thank you for the timely fixes.

[2021-04-22 18:10] peiying2 opened #489 "Enable Basque (eu) on production"
The community is making huge progress in the project, especially the high priority component Settings.ftl. They would like to see the product enabled on production while they keep working  on it.

[2021-04-22 18:12] peiying2 commented on #489
@chenba, please help triage the task. Also let me know if I should file issue at FxA or here. I fear l10n related issue may be buried in all the issues if I file it at FxA. Thank you.

[2021-04-22 20:27] chenba commented on #489
@peiying2 I'm not sure I'll be the person handling this, so I'll cc @clouserw and write down what I think we'll (we = fxa) need to do.

- add eu to the list of supported locales
- tag a new release
- verify on stage

[2021-08-23 23:37] peiying2 opened #512 "Update straight quotes to curly quotes in localizable content in .ftl files"
There is quite a bit of inconsistency in using straight and curly quotes throughout the main.ftl and settings.ftl files. Let's clean them up so they are all curly in localizable content.

[2021-08-23 23:40] peiying2 commented on #512
@vbudhram feel free to reassign if this is not yours to fix. :).

[2021-08-30 10:08] mathjazz opened #514 "Create missing l10n files for hus, ixl, lus, meh, tl"
L10n files and folders for the following locales [enabled in Pontoon](https://pontoon.mozilla.org/projects/firefox-accounts/) are missing:
* hus
* ixl
* lus
* meh
* tl

Pontoon is [unable](https://bugzilla.mozilla.org/show_bug.cgi?id=1728082) to create files and folders itself when the project contains a mix of monolingual (.ftl) and bilingual (.po) files, as is the case here.

The fix for this is

[2021-08-30 23:19] peiying2 commented on #514
@clouserw Please help assign the issue to the right person.

[2021-10-05 17:55] jodyheavener opened #523 "FxA Settings en-CA locale contains paragraph characters"
When accessing FxA settings, my locale is en-CA and it appears to contain a bunch of those paragraph/pilcrow characters. They are visible in production.

I can see them in the file: https://github.com/mozilla/fxa-content-server-l10n/blob/master/locale/en_CA/settings.ftl#L122

![Screen Shot 2021-10-05 at 2 54 43 PM](https://user-images.githubusercontent.com/6392049/136076882-e528ead3-152f-4b33-9298

[2021-11-15 20:03] peiying2 commented on #472
Any update on this?

[2021-11-19 15:59] #472 closed

[2022-01-28 20:55] xlisachan opened #548 "[email templates l10n]: fix errors in German translations"
Errors in the `locale/de/auth.ftl` are causing the following issues:
- [11783](https://github.com/mozilla/fxa/issues/11783) - App store badge missing from postVerify template when browser's language is set to German
- [11784](https://github.com/mozilla/fxa/issues/11784) - Special char displayed near text in postAddAccountRecovery template HTML when German is selected
- [11785](https://github.com/m

[2022-01-28 21:27] #548 closed

[2022-03-15 19:22] clouserw commented on #523
The linked issue is closed as fixed.  Closing this as well.

[2022-03-15 19:22] #523 closed

[2022-03-31 02:30] pdehaan opened #561 "Odd markers in .ftl files (re: cancellationSurvey)"
Not sure if this is the best place for this issue, or how best to fix this. Came across it while trying to figure out a cheap HTML linter for .ftl files (which already caught a fair number of small issues).

Unfortunately, our template/reference string seems to look like this:

https://github.com/mozilla/fxa-content-server-l10n/blob/831e167cf2e0cb037614bb8d36c47822387cb29b/locale/templates/auth.ft

[2022-03-31 02:31] pdehaan commented on #561
/summon @peiying2.
I think I pinged you in Pontoon about the en-CA string, but this is probably a better overview than my short context-less 1 sentence in Pontoon UI.

[2022-03-31 15:40] pdehaan opened #562 "Add CODEOWNERS file?"
We've used it w/ https://github.com/mozilla/blurts-server/blob/main/docs/CODEOWNERS and it seemed to work pretty well.
We could set it up so any changes to /locale/templates/* files would automatically add @peiying2 as a PR code reviewer.

[2022-03-31 18:21] pdehaan opened #563 "linting ftl files for mismatched tags"
Just dumping this here for my own future reference and sanity&hellip;

[code]

This should scan all the `locale/**/*.ftl` files and parse them as HTML and look for unpaired tags. May or may not be 100% accurate (.ftl is not .html and comments might trigger false positives, but #yolo).

But currently this found about 106 potential issues w/ mismatched tags in various translations.
If you pipe the o

[2022-04-01 05:36] flodolo commented on #563
I raise to 114 issues…

I'm working on a WIP of a linter of [my own](https://github.com/flodolo/fluent-linter). Looks like at least one string (`main.ftl:payment-confirm`) was migrated completely broken (see [fix for Italian](https://github.com/mozilla/fxa-content-server-l10n/commit/db93109b83d39771faf126eb40cce582e7f8e858)), and might actually be obsolete. It would be great for that team to check

[2022-04-01 06:18] pdehaan commented on #563
Rad!
Yeah, I had it on my todo list to talk you about ftl linting, so this is exactly what I was looking for. ❤️
I ended up re-rewriting an old .ftl linting tool I had from the Monitor days that was trying to compare placeables and variables and all that jazz, but then I always get lost on edge cases in some European languages w/ variants. Or else getting too many false positives where strings jus

[2022-04-01 06:23] flodolo commented on #563
Yeah, it wouldn't catch it. It looks for:
* Mismatched or missing placeable (message/term references, variables)
* Mismatched data-l10n-name
* Mismatched HTML tags (not what's inside, or attributes, since in Fluent you shouldn't have those)
* A few other things, like the pilcrow character in translations, or the ID repeated (these were caused by a couple of bugs in Pontoon)

[2022-04-01 06:25] flodolo commented on #563
I almost never touch RTL strings. If I do, I copy them in a text editor first, which seems a bit more intuitive. Note that there might be an "account" hidden there, hence the "brand-firefox (+ account)" instead of brand-firefox-account

[2022-04-01 06:28] pdehaan commented on #563
Yeah, your script is really great!
[code]

I had to tweak the URL for /gn/, then search for that id in auth.ftl. But then I can copy out the reference/EN string and the GN string and compare placeables and it turns out the translation was missing `{ $productPaymentCycleNew }`. But that string has a lot of variables, so I had to copy them into VS Code and sort the placeables since I wasn't able to

[2022-04-01 07:49] flodolo commented on #563
Side note: this type of linter will need exceptions, because some changes are potentially acceptable (e.g. dropping a term when it's repeated multiple times).

[2022-04-01 18:35] pdehaan opened #565 "Unexpected ellipsis'es"
Randomly spotted, might be nothing.
<kbd>git grep "\.\.\." locale/**/*.ftl | grep -v ":#"</kbd> should search the locales for all strings that have three periods (`...`) instead of an ellipsis (`…`).

Here's one example https://pontoon.mozilla.org/de/firefox-accounts/main.ftl/?search=subscription-processing-title&string=220945

But not sure if it's as easy as me copying the reference ellipsis and

[2022-04-01 18:46] pdehaan commented on #512
Here were some of the more obvious (aka: "things I could grep") instances of single quotes in the reference/En strings:

[code]

Grepping double quotes is more difficult, but I think this might work:

[code]

The extra `grep -v "=\""` should ignore any cases where the quotes are used in HTML attributes (ie `<a data-l10n-name="updateBillingUrl">`), but could also be hiding other subtle instances.

[2022-04-06 21:39] LZoog opened #566 "Change repository base branch name from 'master' to 'main'"
A couple of years ago, FxA changed its base branch name, as well as fxa-private's, from `master` to `main`. I was reminded in recent training that we should move away from using terms like `master` and am advocating we at least update our ecosystem-docs repo to follow suite.

I know this repo is tied to Pontoon and there may be additional steps to make that happen here. I'm curious what the level

[2022-04-21 22:50] clouserw commented on #565
I'm not following this report.  Are you saying it's a bug to have three periods in a row?

[2022-04-21 23:33] pdehaan commented on #565
I thought the l10n preference was to use a proper (`…`) ellipsis vs three dots (`...`).

/cc @peiying2 and @flodolo who can confirm if I'm horribly mistaken and ellipsis' don't apply to all locales.

[2022-04-22 05:06] flodolo commented on #565
We should ask localizers to fix them, and be consistent. As far as I can tell, all locales follow en-US in this sense, with the only exception of Japanese.

en-US, on the other hand, should be using consistently an ellipsis character. That's what we enforce in most of our products, Firefox included.

[2022-04-22 17:44] clouserw commented on #565
Ok, I'll assign to @peiying2 to communicate with localizers then.  Would be cool to have this as a linter in pontoon.

[2022-04-22 17:48] clouserw commented on #561
I'm pretty confident it's a typo, but let's ask @LZoog

[2022-04-22 18:14] peiying2 commented on #565
Phew, that's a lot to go through! @pdehaan thanks for creating the list to make cleanup a lot easier!

[2022-04-22 18:50] peiying2 commented on #565
@pdehaan I went through the list of errors you identified and made all the changes (I think). I assume `pt` and `sv` are two locales leveraged from `pt-BR` and `sv-SE` locales respectively. When you get a chance, please run a check again to see if I missed anything.

[2022-04-22 21:57] pdehaan commented on #565
Thanks @peiying2. Here's the latest results from <kbd>git grep</kbd>

[code]

- https://pontoon.mozilla.org/cy/firefox-accounts/main.ftl/?search=payment-processing-message&string=220947
- https://pontoon.mozilla.org/ko/firefox-accounts/settings.ftl/?search=avatar-page-saving-button&string=220922
- https://pontoon.mozilla.org/nn-NO/firefox-accounts/settings.ftl/?search=switch-submitting&string=2343

[2022-04-22 22:10] peiying2 commented on #565
@pdehaan I believe I got them all this time. Let's wait a little and verify again.

[2022-04-23 05:14] flodolo commented on #565
Looks like sv is generated by merge, Pontoon manages only sv_SE.

Not sure why we even need the former? Worth checking if it's just a legacy thing.

[2022-04-23 05:24] flodolo commented on #565
The only ones left are in sv and pt, so they should be good. BTW, I've enabled that check also for Fluent projects in my linter ([results](https://github.com/mozilla-l10n/mozl10n-linter/runs/6138252164?check_suite_focus=true)).

[2022-04-25 17:02] peiying2 commented on #565
Thank you so much to you both!! I will work on the fixes when I have a block of time. Much appreciated!

[2022-04-26 19:35] flodolo commented on #566
It's minimal. We need to stop sync for the project, rename the branch here, and restart sync.

I can do it at any point, if it doesn't require specific work on the FxA code side.

[2022-05-02 08:55] flodolo opened #575 "Missing markup in payment-confirm string"
CC @LZoog @clouserw

I've started running linters on some of our projects, and there's one issue that should be fixed in code.

https://github.com/mozilla/fxa-content-server-l10n/pull/427

This pull request changed `payment-confirm` without a new ID, adding markup.

[code]

As a consequence, we have 20+ locales with the wrong translation. That string should be change, using a new ID, so that we ca

[2022-05-02 14:53] clouserw commented on #575
Looks like this was done in https://github.com/mozilla/fxa/issues/5584 so I'll put it in the Subscription Platform triage.  Thanks for running the linters.

I try to watch for 'em 👍

[2022-05-03 06:29] flodolo opened #576 "Drop sr-Latn?"
That was a language that we used for Firefox OS, and it was generated automatically from Serbian (Cyrillic).

Is there anything generating that now? I'm asking, because my linter caught an error in `verificationReminderFirst-description`(auth.ftl), and that was fixed a month ago in [Serbian](https://pontoon.mozilla.org/sr/firefox-accounts/auth.ftl/?search=erificationReminderFirst-description&strin

[2022-05-04 16:58] flodolo commented on #576
@clouserw
Putting this on the radar ;-)

[2022-05-04 17:09] clouserw commented on #576
Thanks for the ping.  I think we generate this at https://github.com/mozilla/fxa-content-server-l10n/blob/master/scripts/extract_strings.sh#L86

Good to know we can drop it, I'll think on if there is anywhere else we reference it.

[2022-05-04 17:19] flodolo commented on #576
Ah, the translation was submitted 1 month ago, but only approved 8 days ago
https://github.com/mozilla/fxa-content-server-l10n/commit/c0173e59b54b2f3bbce04549ec020280a97fe629

That's why it's not showing up as fixed yet.

Still, I don't think there's value in keeping it around at this point.

[2022-05-05 13:27] flodolo commented on #563
I'd suggest to close this, as mismatched tags are now visible as part of the checks here
https://github.com/mozilla-l10n/mozl10n-linter

P.S. I don't have rights on the repository to manage issues directly

[2022-05-05 14:08] #565 closed

[2022-05-06 14:26] flodolo commented on #563
@pdehaan
Going to close, let me know if you have any question ;-)

P.S. I've changed the linter to also ignore the `<br>` tag, since it might make sense to add or remove line breaks in localization.

[2022-05-06 14:26] #563 closed

[2022-05-06 14:34] #512 closed

[2022-05-06 14:47] flodolo commented on #561
Somehow I managed to merge the pull request while trying to ask for review in #578 :-(

I think that's a safe fix, and it looks like an issue with the migration from Python code (Django format) to Fluent. While looking in the repository, I noticed dsb has a handful of similar issues, but I'll fix those via Pontoon.

[2022-05-06 14:52] #561 closed

[2022-05-09 14:39] flodolo commented on #566
Note: I see mentions of "master" in scripts and README, so they definitely need updates.

[2022-05-12 16:36] #562 closed

[2022-05-17 08:47] flodolo commented on #576
Having now more knowledge of the extraction process, I think that we really should remove this locale.

The process only transliterate the po file via `msgfilter`, there is nothing doing that for the FTL bits.

[2022-05-17 08:49] flodolo commented on #576
@clouserw
Do we have any data on how many users end up on the sr-Latn pages, in absolute numbers and compared to standard `sr`? If the number is particularly high, we should add conversion for FTL files, if not we should drop it completely.

[2022-05-17 15:38] clouserw commented on #576
For the past 30 days `sr` gets about 5-6k hits/day.  `sr-LATN` gets between 0 and 1 per day.

[2022-05-20 05:44] #576 closed

[2022-05-20 17:32] flodolo opened #595 "Use `es-ES` as `es`"
The international Spanish `es` in Pontoon was created for specific marketing projects, and it's not actively maintained.

Right now, FxA is at 99% for es-ES, while it's at 47% for es, causing a lot of issues ([example](https://github.com/mozilla/fxa/issues/12691)) because some basic terms are not translated.

My plan is to:
* [x] Remove es from the list of locales for FxA in Pontoon
* [ ] Copy `es

[2022-05-20 17:41] flodolo commented on #595
CC @bcolsson

[2022-05-20 17:44] #595 closed

[2022-06-06 08:14] guojiahuiEmily opened #609 "how to convert po to json"
grunt po2json
Warning: Task "po2json" not found. Use --force to continue.

Aborted due to warnings.

[2022-07-28 05:12] flodolo commented on #566
Actively working on this.

I've already fixed the l10n side of things (this repo and Pontoon). To complete, we need:
* This [pull request](https://github.com/mozilla/fxa/pull/13778) merged in FxA
* Remove the master branch here (which is already set as non-default branch)

[2022-07-30 03:40] #566 closed